.projectDesc-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding: 2% 2% 2% 0;
}
.project-name {
  font-size: 37px;
  font-weight: bolder;
}
.due {
  padding-left: 1%;
  color: #868e96;
}
.font16 a:visited {
  color: #15aabf;
  text-decoration-color: #15aabf;
}

.font16 a:link {
  color: #15aabf;
  text-decoration-color: #15aabf;
}

.font16 a:hover {
  color: #15aabf;
  text-decoration-color: #15aabf;
}

.font16 a:active {
  color: #15aabf;
  text-decoration-color: #15aabf;
}

.font20 {
  font-size: 20px;
}
.font18 {
  font-size: 18px;
}
.font16 {
  font-size: 16px;
}
.bold {
  font-weight: bold;
}
.paddingLeft1 {
  padding-left: 1%;
}
.paddingBottom {
  padding-bottom: 5%;
}

@media only screen and (max-width: 935px) {
  .projectDesc-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 5% 2% 2% 0;
  }
  .project-name {
    font-size: 37px;
    font-weight: bolder;
  }
  .due {
    padding-left: 1%;
    color: #ced4da;
  }
  .font16 a:visited {
    color: #15aabf;
    text-decoration-color: #15aabf;
  }

  .font16 a:link {
    color: #15aabf;
    text-decoration-color: #15aabf;
  }

  .font16 a:hover {
    color: #15aabf;
    text-decoration-color: #15aabf;
  }

  .font16 a:active {
    color: #15aabf;
    text-decoration-color: #15aabf;
  }

  .font20 {
    font-size: 20px;
  }
  .font18 {
    font-size: 18px;
  }
  .font16 {
    font-size: 16px;
  }
  .bold {
    font-weight: bold;
  }
  .paddingLeft1 {
    padding-left: 1%;
  }
  .paddingBottom {
    padding-bottom: 5%;
  }
}
